[submodule "vim/bundle/vim-fsharp"]
	path = vim/bundle/vim-fsharp
	url = https://github.com/fsharp/vim-fsharp.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
