.vim/backup
.vim/spell
.vim/swap
.vim/undo
.DS_Store
.config/nvim/backup
.config/nvim/spell
.config/nvim/swap
.config/nvim/undo
.config/nvim/.netrwhist
.config/htop/*
.config/karabiner/*
.config/Microsoft*/*
.config/NuGet/*
.config/iterm2/*
.config/xbuild/*
.config/ILSpy.xml
zsh/.zcompdump
zsh/.zsh_sessions/*
